.Nav_Bar{
    background-color:slategrey;
    display: flex; 
    font-size: 30px;
    font-style: italic;
    width: 400px;
    justify-content: space-between;

}
#home{
    color:rgb(71, 50, 50);

}
body{
    background-color:mediumaquamarine
}
h1{
    color: aqua;
    text-align: center;
}
